table.dataTable thead th, table.dataTable tbody td { padding: 4px 4px; }
.dataTables_scrollHeadInner th, table.dataTable thead th { text-align: center; vertical-align: middle; background: linear-gradient(to bottom,#FFFFFF 0%,rgba(205, 205, 205, 1) 100%) !important; border-right: 1px solid rgba(0, 0, 0, 0.17); }

.dataTables_scrollBody table td,.dataTables_scrollBody table th { overflow: hidden; text-overflow: clip; white-space: nowrap; max-width: 1px; }
.dataTables_scrollBody table { margin: 0; margin-top: 0 !important; }

.dataTables_wrapper .dataTables_filter { float: left; text-align: left; }
    .dataTables_wrapper .dataTables_filter input { margin-left: 0; }

.dataTables_wrapper .Title { font-size: 20px; color: red; font-weight: bold; white-space: nowrap; /*margin-top: 20px;*/ margin-bottom: 10px; }
.dataTables_wrapper .GoPage { padding-top: 0.755em; }

table.dataTable tbody td .EditIcon { cursor: pointer; padding: 5px; border: 1px solid #FFF; background: rgb(19, 110, 228); color: white; border-radius: 9px; box-shadow: -1px 0px 0px 0px #929292; }
    table.dataTable tbody td .EditIcon:hover { background: #58A9FF; color: #FFF; box-shadow: 0px 0px 0px 0px #929292; }
